In [1]:
import orchest

In [2]:
connection_string = f"postgresql://postgres:@{orchest.get_service('postgres')['internal_hostname']}/postgres"

Load the `sql` magic from https://pypi.org/project/ipython-sql/:

In [3]:
%load_ext sql

At first, `%sql` does not know where to connect to:

In [4]:
%sql

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

You can specify it using the `connection_string` variable declared earlier:

In [5]:
%%sql $connection_string
SELECT 1

1 rows affected.

[(1,)]

After the first connection, connect info can be omitted:

In [6]:
%sql

 * postgresql://postgres:***@internal-service-postgres-2223ae45-791cbeb7/postgres

In [10]:
%%sql
CREATE TABLE IF NOT EXISTS writers (first_name varchar, last_name varchar, year_of_death int);
INSERT INTO writers VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writers VALUES ('Bertold', 'Brecht', 1956);

 * postgresql://postgres:***@internal-service-postgres-2223ae45-791cbeb7/postgres
Done.
1 rows affected.
1 rows affected.

[]

In [11]:
writers = %sql SELECT * FROM writers
writers

 * postgresql://postgres:***@internal-service-postgres-2223ae45-791cbeb7/postgres
2 rows affected.

[('William', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]

In [12]:
type(writers)

sql.run.ResultSet

In [13]:
writers.sql

'SELECT * FROM writers'

In [14]:
df = writers.DataFrame()
df

  first_name    last_name  year_of_death
0    William  Shakespeare           1616
1    Bertold       Brecht           1956

In [15]:
type(df)

pandas.core.frame.DataFrame